<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.9" name="com.example.domain">
    <resources>
        <resource-root path="domain-module.jar"/>
    </resources>

    <dependencies>
        <module name="jakarta.persistence.api"/>
        <module name="jakarta.transaction.api"/>
        <module name="jakarta.validation.api"/>
    </dependencies>
</module>
